/*------------- #DOMAIN-FILTER-PANEL --------------*/


.crumina-domain-filter-panel {
  background-color: var(--white-color);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1),inset 1px 0 0 0 rgba(235, 242, 248, 0.004);
  padding: 30px;
  border-radius: 5px;
}